body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#loader {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loader-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

#loader-logo {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
  z-index: 1;
}

#loader-bar-container {
  width: 40%;
  position: relative;
  margin-top: 20px;
}

#loader-bar-bg {
  width: 100%;
}

#loader-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: url('./public/assets/loading-screen/Loading_bar_fill_2.png') no-repeat;
  background-size: contain;
}

/* #loading-text {
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
} */
#game-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loader-text{
  z-index: 1;
  height: 2%;
  margin-top: -12px;
}

